@using CognitiveServices.Explorer.Application
@using CognitiveServices.Explorer.Application.Curl
@using CognitiveServices.Explorer.Domain.Profiles

@if (Request != null)
{
    <MatButton Outlined="true" Icon="search" OnClick="@(e => { _showRequest = true; })">Show cURL request</MatButton>
}

<MatDialog @bind-IsOpen="@_showRequest">
    <MatDialogTitle>cURL request</MatDialogTitle>
    <MatDialogContent>
        @*Content is actually being rendered when not visible*@
        @if (Request != null)
        {
        <div class="mb-4">
            <h5>@(Request!.RequestName ?? _curlGenerator.GetName(Request))</h5>
            <pre class="mb-1"><code>@_curlGenerator.Generate(Request, ServiceConfig, ShowSubscriptionKey)</code></pre>

            @if (!string.IsNullOrWhiteSpace(Request.CognitiveServiceDoc))
            {
                <a href="@Request.CognitiveServiceDoc" target="_blank">Official documentation</a>
            }
        </div>

        <div class="form-check my-2">

            <input class="form-check-input" type="checkbox" @bind-value="ShowSubscriptionKey" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1">
                Show Subscription Key 🔑
            </label>
        </div>
        }
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { _showRequest = false; })">Close</MatButton>
    </MatDialogActions>
</MatDialog>

@code {
    [Parameter] public bool ShowSubscriptionKey { get; set; }
    [Parameter] public HttpRequest? Request { get; set; }
    [Parameter] public CognitiveServiceConfig? ServiceConfig { get; set; }
    
    private bool _showRequest = false;
    private CurlGenerator _curlGenerator = new CurlGenerator();
}
