@using CognitiveServices.Explorer.Application
@using CognitiveServices.Explorer.Application.Curl

@if (Requests?.Any() == true)
{
    <MatButton Outlined="true" Icon="search" OnClick="@(e => { _showRequest = true; })">Show cURL requests</MatButton>
}

<MatDialog @bind-IsOpen="@_showRequest">
    <MatDialogTitle>cURL requests</MatDialogTitle>
    <MatDialogContent>
        @foreach (var request in Requests!)
        {
            <h5>@(request.RequestName ?? _curlGenerator.GetName(request))</h5>
            <pre><code>@_curlGenerator.Generate(request, ServiceConfig, ShowSubscriptionKey)</code></pre>
        }

        <div class="form-check my-2">

            <input class="form-check-input" type="checkbox" @bind-value="ShowSubscriptionKey" id="defaultCheck1" />
            <label class="form-check-label" for="defaultCheck1">
                Show Subscription Key 🔑
            </label>
        </div>
    </MatDialogContent>
    <MatDialogActions>
        <MatButton OnClick="@(e => { _showRequest = false; })">Close</MatButton>
    </MatDialogActions>
</MatDialog>

@code {
    [Parameter] public List<HttpRequest>? Requests { get; set; }
    [Parameter] public CognitiveServiceConfig? ServiceConfig { get; set; }
    [Parameter] public bool ShowSubscriptionKey { get; set; }

    private CurlGenerator _curlGenerator = new CurlGenerator();
    private bool _showRequest = false;
}
