@page "/face/v1.0/persongroups"
@using CognitiveServices.Explorer.Application.ViewModels.FaceApi
@using CognitiveServices.Explorer.Web.Pages.FaceApi.Components
@inject PersonGroupsViewModel viewModel

<FaceApiConfiguration />

<div class="content">
    <h3>Person Groups</h3>

    <div class="py-2">
        @if (viewModel.PersonGroups?.Any() == true)
        {
            <MatTable Items="viewModel.PersonGroups" FilterByColumnName="Name" SortBy="Name" Striped="true">
                <MatTableHeader>
                    <th>Id</th>
                    <th><div style="width:150px;">Name</div></th>
                    <th>Recognition Model</th>
                    <th>User Data</th>
                </MatTableHeader>
                <MatTableRow>
                    <td><a href="face/v1.0/persongroups/@context.PersonGroupId/persons">@context.PersonGroupId</a></td>
                    <td>@context.Name</td>
                    <td>@context.RecogntionModel</td>
                    <td>@context.UserData</td>
                </MatTableRow>
            </MatTable>
        }
        else if (viewModel.PersonGroups != null)
        {
            <div class="alert alert-warning" role="alert">No groups found</div>
        }
        else if (!string.IsNullOrWhiteSpace(viewModel.Error))
        {
            <div class="alert alert-danger" role="alert">@viewModel.Error</div>
        }
        else
        {
            <div class="alert alert-info" role="alert">Press "Get groups" to get started. (1 transaction cost)</div>
        }
    </div>

    <MatButton Raised="true" Icon="refresh" OnClick="@viewModel.GetGroups">Refresh</MatButton>
    <CurlRequest Request="viewModel.PersonGroupListRequest" ServiceConfig="viewModel.FaceApiConfig" />
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        await viewModel.OnInitializedAsync();
    }
}
