@page "/faceapi/persongroup/{PersonGroupId}"
@using CognitiveServices.Explorer.Domain.Face

<h3>IdentityManagement</h3>

<div>
    <label>Face API Key:</label>
    <input type="password" @bind-value="@faceApiKey" />
</div>
<div>
    <label>Base URL:</label>
    <input type="text" @bind-value="@faceApiBaseUrl" />
</div>

<button class="btn btn-primary" @onclick="GetGroups">Get groups</button>

<pre>
@rawJson
</pre>

<table border="1">
    <thead>
        <tr>
            <th>Person Id</th>
            <th>Name</th>
            <th>Number of faces</th>
            <th>User Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var group in people)
        {
            <tr>
                <td><a href="/faceapi/persongroup/@PersonGroupId/person/@group.PersonId">@group.PersonId</a></td>
                <td>@group.Name</td>
                <td>@(group.PersistedFaceIds?.Count ?? 0)</td>
                <td>@group.UserData</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string PersonGroupId { get; set; }

    string faceApiKey = string.Empty;
    string faceApiBaseUrl = string.Empty;
    string rawJson = string.Empty;
    List<PersonDto> people = new List<PersonDto>();

    public async Task GetGroups()
    {
        faceApiBaseUrl = faceApiBaseUrl.TrimEnd('/');

        HttpClient client = new HttpClient();
        client.DefaultRequestHeaders.Add("Ocp-Apim-Subscription-Key", faceApiKey);
        var result = await client.GetAsync(faceApiBaseUrl + $"/face/v1.0/persongroups/{PersonGroupId}/persons");
        rawJson = await result.Content.ReadAsStringAsync();

        try
        {
            people = Newtonsoft.Json.JsonConvert.DeserializeObject<List<PersonDto>>(rawJson);
        }
        catch
        {
        }
    }
}
