@page "/face/v1.0/persongroups/{PersonGroupId}/persons"
@using CognitiveServices.Explorer.Domain.Face
@using CognitiveServices.Explorer.Web.Pages.FaceApi.Components
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<FaceApiConfiguration />

<div class="content">
    <h3>Person Group @PersonGroupId</h3>

    <div class="py-2">
        <h4>Training details</h4>

        @if (trainingStatus != null)
        {
        <div class="table-responsive">
            <table class="table table-bordered table-sm float-left">
                <tbody>
                    <tr>
                        <th style="width: 120px;">Is trained</th>
                        <td>@trainingStatus.Status @(trainingStatus.Status == "running" ? "(refresh training in few seconds)" : "")</td>
                    </tr>
                    <tr>
                        <th>Created date</th>
                        <td>@trainingStatus.CreatedDateTime.ToLocalTime()</td>
                    </tr>
                    <tr>
                        <th>Last action date</th>
                        <td>@trainingStatus.LastActionDateTime.ToLocalTime()</td>
                    </tr>
                    <tr>
                        <th>Message</th>
                        <td>@trainingStatus.Message</td>
                    </tr>
                    <tr>
                        <th>Train</th>
                        <td><button class="btn btn-secondary btn-sm" @onclick="Train">Train</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
        }

        <button class="btn btn-secondary btn-sm" @onclick="RefreshTrainingStatus">Check training status</button>
    </div>

    <div class="py-2">
        <h4>People</h4>

        @if (people != null && people.Any())
        {
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th style="width: 50px;"> &nbsp; </th>
                            <th>Person Id</th>
                            <th>Name</th>
                            <th>Number of faces</th>
                            <th>User Data</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var person in people)
                        {
                            var imageUrl = string.Empty;
                            if (!string.IsNullOrWhiteSpace(person.UserData) && person.UserData.StartsWith("{"))
                            {
                                var customUserData = Newtonsoft.Json.JsonConvert.DeserializeObject<UserDataWithImageUrl>(person.UserData);
                                imageUrl = customUserData.GetImageUrl();
                            }
                            <tr>
                                <td>
                                    @if (!string.IsNullOrWhiteSpace(imageUrl))
                                    {
                                        <img src="@imageUrl" width="40" />
                                    }
                                    else
                                    {
                                        <span>&nbsp;</span>
                                    }
                                </td>
                                <td><a href="face/v1.0/persongroups/@PersonGroupId/persons/@person.PersonId">@person.PersonId</a></td>
                                <td>@person.Name</td>
                                <td>@(person.PersistedFaceIds?.Count ?? 0)</td>
                                <td><code>@CropText(person.UserData)</code></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
        else if (people != null)
        {
            <div class="alert alert-warning" role="alert">No identities found in the group @PersonGroupId</div>
        }
        else
        {
            <div class="alert alert-info" role="alert">Loading data from face API... (1 transaction cost)</div>
        }
    </div>

    <CurlRequestList Requests="requestsData" />
</div>

@code {
    [Parameter]
    public string PersonGroupId { get; set; }

    string faceApiKey = string.Empty;
    string faceApiBaseUrl = string.Empty;
    string rawJson = string.Empty;
    List<PersonDto> people = null;
    TrainingStatus trainingStatus = null;
    CurlRequestData getPeopleRequest = new CurlRequestData
    {
        RequestName = "GET PersonGroup Person list"
    };
    CurlRequestData getTrainingStatusRequest = new CurlRequestData
    {
        RequestName = "GET PersonGroup Training status"
    };
    CurlRequestData getTrainRequest = new CurlRequestData
    {
        RequestName = "POST PersonGroup Start training"
    };
    List<CurlRequestData> requestsData = new List<CurlRequestData>();

    protected override async Task OnInitializedAsync()
    {
        requestsData.Add(getPeopleRequest);
        requestsData.Add(getTrainingStatusRequest);
        requestsData.Add(getTrainRequest);

        faceApiKey = await localStorage.GetItemAsync<string>(nameof(faceApiKey));
        faceApiBaseUrl = await localStorage.GetItemAsync<string>(nameof(faceApiBaseUrl));
        UpdateRequestOutput();

        await GetPeople();
    }

    public async Task GetPeople()
    {
        faceApiKey = await localStorage.GetItemAsync<string>(nameof(faceApiKey));
        faceApiBaseUrl = await localStorage.GetItemAsync<string>(nameof(faceApiBaseUrl));

        people = await MakeRequest<List<PersonDto>>($"/face/v1.0/persongroups/{PersonGroupId}/persons");
    }

    public async Task RefreshTrainingStatus()
    {
        trainingStatus = await MakeRequest<TrainingStatus>($"/face/v1.0/persongroups/{PersonGroupId}/training");
    }

    public async Task Train()
    {
        HttpClient client = new HttpClient();
        client.DefaultRequestHeaders.Add("Ocp-Apim-Subscription-Key", faceApiKey);

        try
        {
            UpdateRequestOutput();
            var result = await client.PostAsync(faceApiBaseUrl + $"/face/v1.0/persongroups/{PersonGroupId}/train", new StringContent(string.Empty));

            await RefreshTrainingStatus();
        }
        catch
        {
        }
    }

    public async Task<T> MakeRequest<T>(string request)
    {
        HttpClient client = new HttpClient();
        client.DefaultRequestHeaders.Add("Ocp-Apim-Subscription-Key", faceApiKey);

        try
        {
            UpdateRequestOutput();

            var result = await client.GetAsync(faceApiBaseUrl + request);
            string rawJson = await result.Content.ReadAsStringAsync();
            return await Task.Run(() => Newtonsoft.Json.JsonConvert.DeserializeObject<T>(rawJson));
        }
        catch
        {
            return default;
        }
    }

    public void UpdateRequestOutput()
    {
        getPeopleRequest.SubscriptionKey = faceApiKey;
        getPeopleRequest.Curl = $@"curl -X GET \
  '{faceApiBaseUrl}/face/v1.0/persongroups/{PersonGroupId}/persons' \
  -H 'Content-Type: application/json' \
  -H 'Ocp-Apim-Subscription-Key: [token]'";

        getTrainingStatusRequest.SubscriptionKey = faceApiKey;
        getTrainingStatusRequest.Curl = $@"curl -X GET \
  '{faceApiBaseUrl}/face/v1.0/persongroups/{PersonGroupId}/training' \
  -H 'Content-Type: application/json' \
  -H 'Ocp-Apim-Subscription-Key: [token]'";

        getTrainRequest.SubscriptionKey = faceApiKey;
        getTrainRequest.Curl = $@"curl -X POST \
  '{faceApiBaseUrl}/face/v1.0/persongroups/{PersonGroupId}/train' \
  -H 'Ocp-Apim-Subscription-Key: [token]'";
    }

    public string CropText(string text, int maxLength = 20)
    {
        if (text?.Length > maxLength)
        {
            return text.Substring(0, 20) + "...";
        }

        return text;
    }
}
