@page "/face/v1.0/persongroups/{PersonGroupId}/persons"
@using CognitiveServices.Explorer.Domain.Face
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<h3>Person Group @PersonGroupId</h3>

<div>
    <label>Face API Key:</label>
    <input type="password" @bind-value="@faceApiKey" />
</div>
<div>
    <label>Base URL:</label>
    <input type="text" @bind-value="@faceApiBaseUrl" />
</div>

<button class="btn btn-primary" @onclick="GetPeople">Get people (1 TR)</button>

<pre>
@rawJson
</pre>

<table border="1">
    <thead>
        <tr>
            <th> &nbsp; </th>
            <th>Person Id</th>
            <th>Name</th>
            <th>Number of faces</th>
            <th>User Data</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var person in people)
        {
            var imageUrl = string.Empty;
            if (!string.IsNullOrWhiteSpace(person.UserData) && person.UserData.StartsWith("{"))
            {
                var customUserData = Newtonsoft.Json.JsonConvert.DeserializeObject<UserDataWithImageUrl>(person.UserData);
                imageUrl = customUserData.GetImageUrl();
            }
            <tr>
                <td>
                @if (!string.IsNullOrWhiteSpace(imageUrl))
                {
                    <img src="@imageUrl" width="40" />
                }
                else
                {
                    <span>&nbsp;</span>
                }</td>
                <td><a href="face/v1.0/persongroups/@PersonGroupId/persons/@person.PersonId">@person.PersonId</a></td>
                <td>@person.Name</td>
                <td>@(person.PersistedFaceIds?.Count ?? 0)</td>
                <td>@person.UserData</td>
            </tr>
        }
    </tbody>
</table>

@code {
    [Parameter]
    public string PersonGroupId { get; set; }

    string faceApiKey = string.Empty;
    string faceApiBaseUrl = string.Empty;
    string rawJson = string.Empty;
    List<PersonDto> people = new List<PersonDto>();

    protected override async Task OnInitializedAsync()
    {
        faceApiKey = await localStorage.GetItemAsync<string>(nameof(faceApiKey));
        faceApiBaseUrl = await localStorage.GetItemAsync<string>(nameof(faceApiBaseUrl));

        await GetPeople();
    }

    public async Task GetPeople()
    {
        faceApiBaseUrl = faceApiBaseUrl.TrimEnd('/');

        await localStorage.SetItemAsync(nameof(faceApiKey), faceApiKey);
        await localStorage.SetItemAsync(nameof(faceApiBaseUrl), faceApiBaseUrl);

        HttpClient client = new HttpClient();
        client.DefaultRequestHeaders.Add("Ocp-Apim-Subscription-Key", faceApiKey);
        var result = await client.GetAsync(faceApiBaseUrl + $"/face/v1.0/persongroups/{PersonGroupId}/persons");
        rawJson = await result.Content.ReadAsStringAsync();

        try
        {
            people = Newtonsoft.Json.JsonConvert.DeserializeObject<List<PersonDto>>(rawJson);
        }
        catch
        {
        }
    }
}
